[Unit]
Description=Prueft alle 30 Minuten, ob cl-server.service antwortet

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
